@tailwind components;
@tailwind utilities;
@tailwind base;


body {
  font-family: "Roboto", sans-serif;
}



.animate_animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:none!important;animation-fill-mode:none!important}